[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
pytest = "*"

[packages]
sqlalchemy = "*"
pyyaml = "*"
flask = "*"
flask-restplus = "*"
flask-cors = "*"
psycopg2-binary = "*"
unidecode = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
